/* ------------------- RESET CSS ------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ------------------- VARIÁVEIS ------------------- */
:root {
  --cor-fonte-geral: #0c0a0aa8;
  --fundo-navegadores: rgba(138, 199, 199, 0.259);
}
