/* ------------------- RESET CSS ------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
  font-family: 'Roboto';
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ------------------- VARIÁVEIS ------------------- */
:root {
  --cor-fonte-geral: #0c0a0ad0;
  --fundo-navegadores: rgba(138, 199, 199, 0.259);
  --opacity-border-boxes: rgba(0, 0, 0, 0.18);
  --opacity-shadow-boxes: rgba(0, 0, 0, 0.3);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 75%;
}

.navegador {
  background-color: var(--fundo-navegadores);
  width: 100%;
  border: 0.1rem solid var(--opacity-border-boxes);
}

.nav-list {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  min-height: 3vh;
}

.nav-list a {
  color: var(--cor-fonte-geral);
  font-weight: bold;
  transition: 0.5s;
}

.nav-list a:hover {
  color: rgb(60, 172, 236, 0.8);
}

.title {
  color: var(--cor-fonte-geral);
}

.container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about {
  background-color: var(--fundo-navegadores);
  padding: 1rem;
  margin: 1.5rem auto;
  box-shadow: 2px 2px 8px var(--opacity-shadow-boxes);
}

#about h2 {
 align-self: start;
 padding: 0.5rem;
 margin-left: 1rem;
}

#about legend {
 align-self: start;
 margin-left: 1.5rem;
 color: rgb(8, 137, 223);
 font-weight: bold;
}

.about-body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.about-body img {
  max-width: 20%;
  border-radius: 0.5rem;
}

.about-body p {
  margin-left: 1.5rem;
}

#faq {
  display: flex;
  flex-direction: row-reverse;
  gap: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  border: 0.1rem solid var(--opacity-border-boxes);
  width: 100%;
}

#faq h2 {
  padding: 0.5rem;
  margin-bottom: 1.3rem;
}

.faq-body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#faq img {
  border-radius: 0.5rem;
  max-width: 25rem;
  margin-bottom: 1rem;
}

.container-titles {
  display: flex;
  font-size: 1.3rem;
  font-family: 'Roboto';
  margin: 0.5rem auto;
}

.container-titles span {
  display: inline-block;
  opacity: 0;
  color: var(--cor-fonte-geral);
  transition: transform 2.5s ease, opacity 0.5s ease;
}

#locale h2 {
  font-size: 1.5rem;
  color: var(--cor-fonte-geral);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

#locale table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

#locale, iframe, legend {
  width: 100%;
}

#contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contacts h2 {
  margin-top: 2rem;
  font-size: 2rem;
  color: var(--cor-fonte-geral);
}

.whatsApp {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.whatsApp-button {
  background-color: green;
  color: white;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  padding: 1rem;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 8px var(--opacity-shadow-boxes);
  cursor: pointer;
  margin: 2rem auto;
  gap: 0.5rem;
  transition: 0.5s;
}

.whatsApp-button:hover {
  background-color: rgba(92, 238, 92, 0.836);
}

footer {
  width: 100%;
  background-color: var(--fundo-navegadores);
  min-height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--cor-fonte-geral);
}